# Core functionality - changes here should be rare!
/src/app.py                   @tannerngmnacadia
/src/backend/database.py      @tannerngmnacadia
/src/backend/routers/auth.py  @tannerngmnacadia

# The frontend will need refactored soon to be more object oriented.
/src/static/   @tannerngmnacadia
